@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/*
*
* Experimental CSS
*
*/
:root {
  --diameter: 10vmax;
}

.aurora {
  background: #000;
  position: relative;
  backdrop-filter: blur(10px);
  z-index: -1;
}

.aurora:before,
.aurora:after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 100%;
  opacity: 0.18;
  z-index: -1;
}

.aurora:before {
  box-shadow: 0 0 var(--diameter) var(--diameter) red;
  animation: hue 12s 0s linear infinite, move1 24s 0s linear infinite;
}

.aurora:after {
  box-shadow: 0 0 var(--diameter) var(--diameter) cyan;
  animation: hue 16s 0s linear infinite, move2 32s 0s linear infinite;
}

@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes move1 {
  0% {
    top: 0vh;
    left: 50vw;
  }
  25% {
    left: 0vw;
  }
  50% {
    top: 100vh;
  }
  75% {
    left: 100vw;
  }
  100% {
    top: 0vh;
    left: 50vw;
  }
}

@keyframes move2 {
  0% {
    top: 50vh;
    left: 100vw;
  }
  25% {
    top: 100vh;
  }
  50% {
    left: 0vw;
  }
  75% {
    top: 0vh;
  }
  100% {
    top: 50vh;
    left: 100vw;
  }
}