---
interface Props {
  className?: string;
  showRadialGradient?: boolean;
}

const { className = "", showRadialGradient = true } = Astro.props;
---

<div
  class:list={[
    "relative flex flex-col items-center justify-center bg-[#09090b] text-slate-950 transition-bg overflow-hidden",
    className,
  ]}
>
  <style is:inline>
    @keyframes aurora {
      from {
        background-position:
          50% 50%,
          50% 50%;
      }
      to {
        background-position:
          350% 50%,
          350% 50%;
      }
    }
    .animate-aurora {
      animation: aurora 60s linear infinite;
    }
  </style>

  <div class="absolute inset-0 overflow-hidden pointer-events-none">
    <div
      class:list={[
        `after:animate-aurora
        pointer-events-none
        absolute -inset-[10px] opacity-[0.15]
        [--white-gradient:repeating-linear-gradient(100deg,var(--white)_0%,var(--white)_7%,var(--transparent)_10%,var(--transparent)_12%,var(--white)_16%)]
        [--dark-gradient:repeating-linear-gradient(100deg,var(--black)_0%,var(--black)_7%,var(--transparent)_10%,var(--transparent)_12%,var(--black)_16%)]
        [--aurora:repeating-linear-gradient(100deg,var(--blue-500)_10%,var(--indigo-300)_15%,var(--blue-300)_20%,var(--violet-200)_25%,var(--blue-400)_30%)]
        [background-image:var(--white-gradient),var(--aurora)]
        dark:[background-image:var(--dark-gradient),var(--aurora)]
        [background-size:300%,_200%]
        [background-position:50%_50%,50%_50%]
        blur-[10px] invert dark:invert-0
        after:content-[""] after:absolute after:inset-0
        after:[background-image:var(--white-gradient),var(--aurora)]
        after:dark:[background-image:var(--dark-gradient),var(--aurora)]
        after:[background-size:200%,_100%]
        after:mix-blend-difference`,
        showRadialGradient &&
          `[mask-image:radial-gradient(ellipse_at_100%_0%,black_10%,var(--transparent)_70%)]`,
      ]}
      style={{
        "--white": "#ffffff",
        "--transparent": "transparent",
        "--black": "#000000",
        "--blue-500": "#334155",
        "--blue-400": "#475569",
        "--blue-300": "#64748b",
        "--indigo-300": "#94a3b8",
        "--violet-200": "#52525b",
      }}
    >
    </div>
  </div>
  <slot />
</div>
